*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

header{
    background-color: white;
}

.logo{
    vertical-align: middle;
}

.logotype{
    font-weight: bold;
    font-size: 2rem;
    vertical-align: middle;
}

.logoContainer{
    margin-left: 5%;
}

body{
    background-color: #eeeeee;
}

.addSpace{
    width: 75%;
    margin: auto;
    background-color: white;
    margin-top: 10vh;
    padding: 1%;
    padding-left: 4%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.button1, .button2{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}

.button1{
    background-color: #3aa3e3;
    color: white;
}

.button2{
    border: 1px solid gray;
    color: gray;
}

.listSpace{
    width: 75%;
    margin: auto;
    background-color: white;
    margin-top: 1vh;
    padding: 1%;
    padding-left: 4%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul{
    line-height: 40px;
}

.list::before{
    content: "\25BC" ;
}

.list{
    list-style-position: inside;
    list-style-type: none;
}

.done{
    display: inline-block;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.label{
    display: inline-block;
    color: white;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;;
    text-align: center;
    font-size: 0.6rem;
    line-height: 20px;
}

.editorial{
    background-color:#3aa3e3;
}

.editorial::after{
    content: "Editorial";
}